.header
{
    display: flex;
    flex-direction: column;
}

.header__title
{
    font-size: 50px;
    padding-top: 96px;
    padding-bottom: 77px;
    padding-left: 20px;
    margin: 0;
}

.header__logo
{
    height: 32px;
    width: 100%;
    display: flex;
    margin-top: 16px;
    justify-content: center;
}

@media screen and (max-width: 440px)
{

    .header__title

    {
    font-size: 24px;
    padding-top: 49px;
    padding-bottom: 69px;
    padding-left: 16px;
    margin: 0;
    }
}