/* Стилизация кнопки */

.button
{
    width: 189px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    border: 0;
    margin: 0;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_type_primary
{
    background: var(--button-primary-light);
}

.button_type_primary:hover
{
    background: var(--button-primary-hover-light);
}

.button_type_primary:disabled
{
    background: var(--button-primary-disabled-light); 
    cursor: not-allowed;
}


.button_type_secondary
{
    background: var(--button-secondary-light);
}

.button_type_secondary:hover
{
    background: var(--button-secondary-hover-light)
}

.button_type_secondary:disabled
{
    background: var(--button-secondary-disabled-light);
    cursor: not-allowed;
}

.button_type_alternate
{
    border: var(--button-alternate-light);
}

.button_type_alternate:hover
{
    background: var(--button-secondary-hover-light);
}

.button_type_alternate:disabled
{
    background: var(--button-secondary-disabled-light);
    cursor: not-allowed;
}
