/* Стилизация кнопки */

.button
{
    width: 189px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    border: 0;
    margin: 0;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_type_primary
{
    background: var(--live-elements-light);
}

.button_type_primary:hover
{
    background: var(--live-elements-hover-light);
}

.button_type_primary:disabled
{
    background: var(--live-elements-disables-light); 
    cursor: not-allowed;
}


.button_type_secondary
{
    background: var(--live-elements-dark);
}

.button_type_secondary:hover
{
    background: var(--live-elements-hover-dark)
}

.button_type_secondary:disabled
{
    background: var(--live-elements-disables-dark);
    cursor: not-allowed;
}

.button_type_alternate
{
    border: var(--border-line-light);
}

.button_type_alternate:hover
{
    background: #E5E5E5;
}

.button_type_alternate:disabled
{
    background: rgba(172, 181, 189, 0.5);
    cursor: not-allowed;
}
