.icon-box
{
    display: none;
}

.icon-box_square-icon
{
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
}

.icon-box_circle-icon
{
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
}

.icon-box_triangle-icon
{
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
}
