
.cap
{
    background-color: rgb(72, 75, 253);
    font-size: 22px;
    height: 160px;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
}


nav
{
    background-color: rgb(170, 49, 33);
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornsilk;
    margin: 0;
}

.basement
{
    background-color: tomato;
    height: 100px;
    width: 100%;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.news_block
{
    background-color: yellowgreen;
    height: 230px;
    margin: 20px;
    position: relative;
    top: 160px;
}


.h2_list
{ 
    font-size: 30px;
    padding: 20px; 
}

.list
{
    top: 80px;
    left: 20px;
}
