@import './normalize.css';
@import '../fonts/fonts.css';

* {
    font-family: 'Roboto', sans-serif;
}

:root
{
    --main-background-light: #fff;
    --border-line-light: 1px solid #ACB5BD;
    --live-elements-light: #4263EB;
    --live-elements-hover-light: #2342C0;
    --live-elements-disables-light: rgba(66, 99, 235, 0.5);

/**  
    Заливка линий. она же временная? 
*/
    --background-line-light: gray;

/**
     
    Подберу цвета для темной темы позже.
    
    --main-background-dark:
    --border-line-dark: 
    --background-card-page-dark:
    --background-line-dark:

    Фиолетовая кнопка к темной теме, если я правильно понял.
*/

    --live-elements-dark: #7048E8;
    --live-elements-hover-dark: #5028C6;
    --live-elements-disables-dark: rgba(66, 99, 235, 0.5);

/**

У кнопки alternate пока указал по-старому, так как непонятно, куда она.

*/


}