
html
{
height: 100%;
}

body
{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

object
{
    width: 22px;
    height: 22px;
}

.dropdown
{
    position: relative;
}


.dropdown__anchor
{
    width: 22px;
    height: 22px;
    border-radius: 50px;
    position: relative;
    bottom: 67px;
}   

.dropdown__menu
{
    width: 129px;
    height: 45px;
    background-color: var(--accent-light);
    border-radius: 10px;
    transform: translate(-50%, 8px);
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 100%;
}

.dropdown__menu:before
{
    content: "";
    border: 14px solid transparent;
    border-bottom: 6px solid var(--accent-light);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
}

  .dropdown:hover .dropdown__menu
{
    visibility: visible;
    opacity: 1;
    transition: .3s linear;
}
