
.footer-content
{
    display: flex;
    width: 640px;
    flex-direction: column; 
}

.footer-content__title
{
    padding-top: 72px;
    font-size: 38px;
    margin: auto;
}

.footer-content__paragraph
{
    margin: auto;
    padding-bottom: 136px;
}

